@using SteamStatus.Models;

@model HomeIndexViewModel


<h1>Steam CM Status</h1>

<div>

    <!--<div class="region">

        <div class="title">
            <span class="flag us"></span>
            Washington
        </div>

        <div class="server">
            <span>123.456.789.123 [somehostname.com]</span>
            <span class="status up">Online</span>
        </div>

        <div class="server">
            <span>123.456.789.124 [somehostname.com]</span>
            <span class="status up">Online</span>
        </div>

    </div>

    <div class="region">

        <div class="title">
            <span class="flag eu"></span>
            Luxemburg
        </div>

        <div class="server">
            <span>123.456.789.321 [someotherhost.com]</span>
            <span class="status up">Online</span>
        </div>

        <div class="server">
            <span>123.456.789.322 [someotherhost.com]</span>
            <span class="status up">Online</span>
        </div>

        <div class="server">
            <span>123.456.789.323 [someotherhost2.com]</span>
            <span class="status down">Offline</span>
        </div>

    </div>-->

    <div class="region">

        <div class="title">
            <span class="flag"></span>
            All Servers
        </div>

        @foreach ( var server in Model.Servers )
        {
            var statusClass = server.Status == "Online" ? "up" : "down";
            
            <div class="server">

                @if ( !string.IsNullOrEmpty( server.Host ) )
                {
                    <span>@server.Address [@server.Host]</span>
                }
                else
                {
                    <span>@server.Address</span>
                }

                <span class="status @statusClass">@server.Status</span>
            </div>
        }
        
    </div>

</div>