<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />

    <title>Steam CM Status</title>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

</head>

<body>

    <div class="container">
        @RenderBody()
    </div>

</body>

</html>
